/* Large Deivces */
@media screen and (max-width: 1200px){

}

/* 1024 */
@media screen and (max-width: 1024px){
    .row-gap{
        flex-direction: column;
        gap: 40px;
    }
    .projects .project-content .phi-vid{
        width: auto;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
    .projects .project-content .project-padd{
        height: 150px;
        padding: 0 3rem;
    }
}

/* Tablet */
@media screen and (max-width: 768px){
    .box-marquee .circle-list{
        height: 25px;
        width: 25px;
    }
    .skills-img{
        height: 60px;
        /* width: 50px; */
    }
}

/* Phone */
@media screen and (max-width: 480px){
    .heading-contents .heading-span span img{
        display: none;
    }
}